<!DOCTYPE html>
<html lang="en">
<head>
    <!-----<link rel="stylesheet" href="/index.css">------->
    <link rel="stylesheet" href="/indexcomplete.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jirayuk's Portfolio</title>
</head>
<body>
    <header>
        <img src="../jry.png" alt="">
        <div class="navbar-icon">
            <a class="navbar" href="/">Home</a>
            <a class="navbar" href="/education">Education</a>
            <a class="navbar" href="/aboutme">About</a>
            <a class="navbar" href="/skill">Skill</a>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>