<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jirayuk's Portfolio</title>
</head>
<body>
    <header>
        <a class="navbar" href="/">Home</a>
        <a class="navbar" href="/education">Education</a>
        <a class="navbar" href="/aboutme">About</a>
        <a class="navbar" href="/workexperience">Work</a>
        <a class="navbar" href="/skill">Skill</a>
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>