<div class="education">
    
        <div class="info-edu">
            <i class="fas fa-school"></i>
            <h2 class="p-edu">Primary Education</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <i class="fas fa-school"></i>
            <h2 class="p-edu">High education</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <i class="fas fa-graduation-cap"></i>
            <h2 class="p-edu">University education</h2>
            <p class="school">{{myData.university}}</p>
        </div>
    
</div>