<div class="box-home">
    <br><br><br>
    <div class="text-home">
        <h1 class="name-home">{{myData.name}}</h1><br><br>
        <p class="welcome-text">{{myData.welcome}}</p>
        <p class="welcome-text">{{myData.welcome2}}</p><br><br>
    </div>
</div>