<div class="u-center">
    <section class="skills">
        <div class="skill">
            <h3 class="skill_type">HTML</h3>
            <div class="skill_outer-bar">
                <div class="skill_inner-bar skill_inner-bar--100"></div>
            </div>
        </div>

        <div class="skill">
            <h3 class="skill_type">PHP</h3>
            <div class="skill_outer-bar">
                <div class="skill_inner-bar skill_inner-bar--90"></div>
            </div>
        </div>

        <div class="skill">
            <h3 class="skill_type">CSS</h3>
            <div class="skill_outer-bar">
                <div class="skill_inner-bar skill_inner-bar--80"></div>
            </div>
        </div>

        <div class="skill">
            <h3 class="skill_type">JS</h3>
            <div class="skill_outer-bar">
                <div class="skill_inner-bar skill_inner-bar--70"></div>
            </div>
        </div>
    </section>
</div>