body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fcf1f1;
}
.logo h1{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #6d2a5c;
    cursor: pointer;
}

header{
    display: flex;
    margin-left: 10%;
}

img{
    width: 300px;
    height: 300px;
    margin-left: -25%;
    margin-top: 13%;
    box-shadow: 0 0 20px #1f1f1f7c;
}

main{
    margin-left: 10%;
    margin-top: 10%;
}

.education{
    color: #6d2a5c;
}

.text-home{
    color: #6d2a5c;
}

.navbar-icon{
    font-size: 30px;
    margin-left: -30%;
    margin-top: 30%;
}

.navbar-icon i{
    margin-left: 20px;
    text-decoration: none;
    color: #6d2a5c;
}

.navbar-icon i:hover{
    color: #a8428f;
}

.u-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10%;
}

.skills{
    display: flexs;
    flex-direction: column;
    align-self: center;
}

.skill{
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill_type{
    color: #6d2a5c;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill_outer-bar,
.skill_inner-bar{
    height: .75em;
}

.skill_outer-bar{
    margin-top: 1em;
    background: #a8428f;
}

.skill_inner-bar{
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill_inner-bar--100{
    width: 90%;
    background: #6d2a5c;
}

.skill_inner-bar--90{
    width: 50%;
    background: #6d2a5c;
}

.skill_inner-bar--80{
    width: 80%;
    background: #6d2a5c;
}

.skill_inner-bar--70{
    width: 30%;
    background: #6d2a5c;
}

@keyframes fillBar{
    to {
        transform: scaleX(1);
    }
}