*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin-top: 2%;
}

header img{
    width: 150px;
    margin-left: 10%;
}

header .navbar-icon{
    margin-top: 1%;
    margin-left: 50%;
    display: flex;
}

header .navbar-icon a{
    margin-left: 10%;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(32, 32, 32);
}

/*index page*/
.box-home {
    display: flex;
    margin-left: 15%;
}

.box-home img{
    width: 580px;
    margin-top: 5%;
}

.box-home .text-home{
    color: white;
    margin-top: 18%;
    margin-left: 5%;
}

.box-home .text-home .name-home{
    font-size: 50px;
}

.box-home .text-home .welcome-text{
    color: rgb(224, 224, 224);
}

.box-home .text-home .seemore{
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    width: 250px;
    transition: .3s;
}

.box-home .text-home .seemore:hover{
    background-color: white;
    color:  rgb(32, 32, 32);
}
/*education page*/
.education{
    display: flex;
    margin-left: 10%;
    margin-top: 14%;
}

.education .info-edu{
    width: 300px;
    background: white;
    border-radius: 7px;
    margin-left: 5%;
    text-align: center;
    padding: 20px;
    box-shadow:5px 10px rgba(8, 8, 8, 0.411);
}

.education .info-edu .fa-school,
.education .info-edu .fa-graduation-cap,
.education .info-edu .fa-building{
    font-size: 50px;
    transition: color .4s;
}

.education .info-edu .fa-school:hover{
    color: rgb(236, 86, 86);
}

.education .info-edu .fa-graduation-cap:hover{
    color: rgb(240, 230, 89);
}

.education .info-edu .fa-building:hover{
    color: rgb(99, 89, 240);
}

.education .info-edu .p-edu{
    margin-top: 2%;
}